<nav class="navbar navbar-expand-sm navbar-light mb-4 mt-4 ">
    <div style="padding: 0px; border: none" class="col-lg-10 container card-header">
        <button style="margin: 10px;outline: none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse col-lg-12 " style="padding: 0px;min-height: 45px;"  id="navbarText">
            <ul class="nav navbar-nav mr-auto" style="width: 100%; padding: 0px">
                <li data-toggle="collapse" data-target=".navbar-collapse" class="  nav-item nav-li btn-sm" ui-sref="game1" ng-click="gameChanged('game1')">Game 1</li>
                <li data-toggle="collapse" data-target=".navbar-collapse" class="nav-item nav-li btn-sm" ui-sref="game2" ng-click="gameChanged('game2')">Game 2</li>
                <li data-toggle="collapse" data-target=".navbar-collapse" class=" nav-item nav-li btn-sm" ui-sref="game3" ng-click="gameChanged('game3')">Game 3</li>
                <li data-toggle="collapse" data-target=".navbar-collapse" class=" nav-item nav-li btn-sm" ui-sref="game4" ng-click="gameChanged('game4')">Game 4</li>
                <li data-toggle="collapse" data-target=".navbar-collapse" class="nav-item nav-li btn-sm" ui-sref="game5" ng-click="gameChanged('game5')">Game 5</li>
            </ul>
        </div>
    </div>
</nav>



